<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hydra.hyperion_backend.server.mapper.GoodsMapper">
    <!--动态sql-->
    <select id="listAll" resultType="org.hydra.hyperion_backend.pojo.entity.Goods">
        select * from goods
        <where>
            <if test="category!=null">
                category like concat('%',#{category},'%')
            </if>
        </where>
    </select>
</mapper>